@using Sysinfocus.AspNetCore.Components
@inherits LayoutComponentBase
@inject Initialization Init

<head>
    <link href="css/site.css" rel="stylesheet" />
    <link rel="stylesheet" href="@Assets["_content/Sysinfocus.AspNetCore.Components/styles.css"]"/>
    <link rel="stylesheet"
          href="@Assets["_content/Sysinfocus.AspNetCore.Components/Sysinfocus.AspNetCore.Components.bundle.scp.css"]"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet"/>
    <title>Choose a Download</title>
</head>


<body class="dark centered-body">
<div class="centered-content" @onclick="Init.HandleMainLayoutClickEvent">
    @Body
</div>
<script src="_framework/blazor.server.js"></script>
</body>

@code
{
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender) await Init.InitializeTheme();
    }
}