@inherits LayoutComponentBase

<head>
    <link href="_content/Radzen.Blazor/css/dark.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
</head>


<body>
    @Body
    <script src="_framework/blazor.server.js"></script>
</body>
