@using Sysinfocus.AspNetCore.Components
@inherits LayoutComponentBase
@inject Initialization Init

<head>
    <link rel="stylesheet" href="@Assets["_content/Sysinfocus.AspNetCore.Components/styles.css"]"/>
    <link rel="stylesheet"
          href="@Assets["_content/Sysinfocus.AspNetCore.Components/Sysinfocus.AspNetCore.Components.bundle.scp.css"]"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet"/>
</head>


<body class="dark">
    <div @onclick="Init.HandleMainLayoutClickEvent">
        @Body
    </div>
    <script src="_framework/blazor.server.js"></script>
</body>

@code
{
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        // This initializes the theme for the components.
        // Then you can use init.ToggleTheme() to toggle between light and dark modes.    
        if (firstRender) await Init.InitializeTheme();
    }
}